# Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

## Table of Contents:
- Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points
- Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points
- Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points
- Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points
- Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
- Question 6 - GameStop Stock and Revenue Dashboard- 2 Points
- Question 7 - Sharing your Assignment Notebook - 2 Points

For Help [Repo](https://github.com/Smokymirror81/Analyzing-Historical-Stock-Revenue-Data-and-Building-a-Dashboard/blob/main/Final%20Assignment.ipynb)

## Importing required libraries

In [3]:
!pip install pandas matplotlib seaborn --quiet
!pip install yfinance bs4 requests --quiet

In [4]:
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# For better visualization
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

## Question 1: Use yfinance to Extract Stock Data
Using the Ticker function enter the ***ticker*** symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is ***TSLA***.

In [6]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function history extract stock information and save it in a dataframe named tesla_data. Set the period parameter to max so we get information for the maximum amount of time.

In [7]:
tesla_data = tesla.history(period="max")

In [8]:
tesla_data.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0